.mobile-benefits main.container {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  font-family: 'open sans', sans-serif;
  color: #666;
}

.wrap {
  width: 95%;
  margin: 0 auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #d75404;
  font-weight: 400;
  font-size: 33px;
}

h3 {
  color: #001a57;
  font-size: 20px;
}

.mobile-benefits p.intro {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 300;
  color: #262626;
}

.mobile-benefits p {
  font-size: 16px;
}

.mobile-benefits div.featured {
  background: #f6f6f6;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin: 30px 0 0 0;
  padding: 20px 0;
}

.mobile-benefits div.section {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}

.mobile-benefits div.section:last-of-type {
  border-bottom: none !important;
}

.mobile-benefits div.featured h3 {
  font-weight: 400;
  margin-top: 0;
}

.mobile-benefits div.featured img {
  width: 100%;
}

.mobile-benefits .learn-more-button {
  text-align: center;
  margin: 30px 0;
}

.mobile-benefits a.learn-more {
  color: #fff;
  background: #a1b70d;
  text-align: center;
  border-radius: 7px;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {

  .mobile-benefits div.featured img {
    width: auto;
  }

}
