<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Student Networking landing page</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/student_networking.css" type="text/css">
  <link rel="stylesheet" href="../font-awesome-4.6.3/css/font-awesome.min.css">
</head>

<body>
  <main class="container full clearfix" ng-app="madlib" ng-controller="countController">

    <header>
      <div class="sign-in-button clearfix">
        <a href="https://alumni.duke.edu/discover/people" class="clearfix"><button class="sign-in">Sign in</button></a>
      </div>
    </header>

    <section class="tile-wrapper" style="background: #001A57;">
      <div id="dummy-square"></div>
      <section class="tile-wrapper-square">
        <div class="main-info">
          <h1>Connect with Alumni</h1>
          <h2>Find a Blue Devil who can help you take your next step.</h2>
          <div id="main-image">
            <img class="blue-devil" src="images/BlueDevil-Cutout.png" />
          </div>
          <div class="button-container">
            <a href="https://alumni.duke.edu/discover/people" class="clearfix"><button class="search-now">Begin your<br>search now</button></a>
          </div>
        </div>
      </section>
    </section>


    <section class="tile-wrapper">
      <div id="dummy-square"></div>
      <section class="tile-wrapper-square">

        <section id="chapel" class="tile small" style="background: #B5B5B5;">
        <img src="images/Chapel.png"/>
        </section>


        <section id="madlib-green" class="tile small" style="background: #A1B70D;">
          <div class="info">
            <div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
            <div class="quote-container">
              <p class="quote">I'm looking for an alum in the
                <span class="blank">
                <select class="word-options" ng-model="selectedItem" ng-options="industitem.industry for industitem in industitems">
              </select>
                <span class="help">industry</span>
                </span>
                industry.
              </p>
            </div>
            <div class="more-info">
              <div class="left clearfix">
                <div>There are over <strong>{{selectedItem.count}}</strong> alums in<br/> the <strong>{{selectedItem.industry}}</strong> industry.<br>Find them on the Network!</div>
              </div>
              <div class="right clearfix">
                <a href="https://alumni.duke.edu/discover/people"><button class="sign-in">Sign in</button></a>
              </div>
            </div>
          </div>
        </section>

        <section id="madlib-teal" class="tile small" style="background: #339999;">
          <div class="info">
            <div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
            <div class="quote-container">
              <p class="quote">What kind of job can I get with a(n)
                <span class="blank">
                <select class="word-options" ng-model="selectedItem" ng-options="majoritem.major for majoritem in majoritems">
              </select>
                <span class="help">major</span>
              </span> major?
              </p>
            </div>
            <div class="more-info">
              <div class="left clearfix">
                <div>There are over <strong>{{selectedItem.count}}</strong> alums<br/>who majored in <strong>{{selectedItem.major}}</strong>.<br>Find them on the Network and ask!</div>
              </div>
              <div class="right clearfix">
                <a href="https://alumni.duke.edu/discover/people"><button class="sign-in">Sign in</button></a>
              </div>
            </div>
          </div>
        </section>

        <section id="video" class="tile small" style="background: #214B85;">
          <div class="info">
            <div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
            <div class='play-button-container'>
              <a href='#video' class='playBut'>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
                <svg class="play-animation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="187px" height="187px" viewBox="0 0 213.7 213.7"
                  enable-background="new 0 0 213.7 213.7" xml:space="preserve">

            <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                73.5,62.5 148.5,105.8 73.5,149.1 "/>

            <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
            </svg>

              </a>
            </div>
            <div class="video-img">


              <img class="display-video expand-hide" src="images/video_ss_overlay.png" />
              <div class="video expand-show">
              <h1>Need Advice?</h1>
              <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oiyTKK979Mc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            </div>
          </div>
        </section>

      </section>
    </section>


    <section class="tips">
      <section class="tips-wrapper">
          <h1>Networking Do's & Don'ts</h1>
        <ul class="image-carousel">
          <li>
            <input class="carousel-toggle" id="tab-1" type="radio" name="toggle" checked/>
            <label class="dot" for="tab-1"></label>
            <ul class="carousel-content">
              <li>
                <div class="tip-item clearfix">
                  <div class="gif-container">
                    <img src='images/shane.gif'/>
                  </div>
                  <div class="copy">
                  <h3>Tip #1</h3>
                  <h2><span class="dont">Don't</span> send a generic email blast to a ton of alumni all at once.</h2>
                  <h2><span class="do">Do</span> learn about alumni before you contact them.</h2>
                </div>
                </div>
                <label class="arrow back" for="tab-2">&#8250;</label>
                <label class="arrow next" for="tab-4">&#8249;</label>
              </li>
            </ul>
          </li>

          <li>
            <input class="carousel-toggle" id="tab-2" type="radio" name="toggle" />
            <label class="dot" for="tab-2"></label>
            <ul class="carousel-content">
              <li>
                <div class="tip-item clearfix">
                  <div class="gif-container wide-gif">
                    <img src='images/image001.gif'/>
                  </div>
                  <div class="copy">
                  <h3>Tip #2</h3>
                  <h2><span class="dont">Don't</span> spam alumni with repeated requests.</h2>
                  <h2><span class="do">Do</span> follow up politely if you don't hear back in a few business days.</h2>
                </div>
              </div>
              <label class="arrow back" for="tab-3">&#8250;</label>
              <label class="arrow next" for="tab-1">&#8249;</label>

              </li>
            </ul>
          </li>

          <li>
            <input class="carousel-toggle" id="tab-3" type="radio" name="toggle" />
            <label class="dot" for="tab-3"></label>
            <ul class="carousel-content">
              <li>
                <div class="tip-item clearfix">
                  <div class="gif-container">
                    <img src='images/3_slow.gif'/>
                  </div>
                  <div class="copy">
                  <h3>Tip #3</h3>
                  <h2><span class="dont">Don't</span> ask for a job.</h2>
                  <h2><span class="do">Do</span> suggest a meeting or conversation.</h2>
                </div>
              </div>
              <label class="arrow back" for="tab-4">&#8250;</label>
              <label class="arrow next" for="tab-2">&#8249;</label>
              </li>
            </ul>
          </li>

          <li>
            <input class="carousel-toggle" id="tab-4" type="radio" name="toggle" />
            <label class="dot" for="tab-4"></label>
            <ul class="carousel-content">
              <li>
              <div class="tip-item clearfix">
                <div class="gif-container">
                  <img src='images/dave_slow.gif'/>
                </div>
                <div class="copy">
                <h3>Tip #4</h3>
                <h2><span class="dont">Don't</span> be vague about your intentions.</h2>
                <h2><span class="do">Do</span> ask for advice and guidance.</h2>
              </div>
            </div>
              <label class="arrow back" for="tab-1">&#8250;	</label>
              <label class="arrow next" for="tab-3">&#8249;</label>
            </li>
            </ul>
          </li>
        </ul>



      </section>
    </section>

    <section class="tile-wrapper">
      <div id="dummy-square"></div>
      <section class="tile-wrapper-square">


        <section id="madlib-navy" class="tile small" style="background: #001A57;">
          <div class="info">
            <div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
            <div class="quote-container">
              <p class="quote">I need advice on housing in
                <span class="blank">
                <select class="word-options" ng-model="selectedItem" ng-options="cityitem.city for cityitem in cityitems">
              </select>
                <span class="help">city</span>
                </span>
                .
              </p>
            </div>
            <div class="more-info">
              <div class="left clearfix">
                <div>There are over <strong>{{selectedItem.count}}</strong> alums living in <strong>{{selectedItem.city}}.</strong> <br>Find them on the Network!</div>
              </div>
              <div class="right clearfix">
                <a href="https://alumni.duke.edu/discover/people"><button class="sign-in">Sign in</button></a>
              </div>
            </div>
          </div>
        </section>

        <section id="video2" class="tile small" style="background: #339999;">
          <div class="info">
            <div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
            <div class='play-button-container'>
              <a href='#video2' class='playBut'>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
                <svg class="play-animation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="187px" height="187px" viewBox="0 0 213.7 213.7"
                  enable-background="new 0 0 213.7 213.7" xml:space="preserve">

            <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                73.5,62.5 148.5,105.8 73.5,149.1 "/>

            <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
            </svg>

              </a>
            </div>
            <div class="video-img">


              <img class="display-video expand-hide" src="images/network_game_video.png" />
              <div class="video expand-show">
              <h1>How to Network</h1>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/necIBaoB1is?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            </div>
          </div>
        </section>

        <section id="checklist" class="tile small full" style="background: #B5B5B5;">
          <div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
          <div class="info centered">
            <div class="box-centered expand-hide">
              <div class="top-center">
                <h3>Checklist for getting your first job</h3>
              </div>
              <img src="images/checklist-image.png" />
            </div>

            <div id="div3" class="checklist-container">
              <h3>Checklist for getting your first job</h3>
              <ul class="list">
                <li class="list__item">
                  <span class="list__item-icon fa fa-square-o"></span>
                  <span class="list__item-icon fa fa-check-square hide"></span>
                  <span class="list__item-text"><strong>Do Your Homework:</strong> Research the companies you have your eye on and find out everything you can about their history, mission, products and work culture.</span>
                </li>
                <li class="list__item">
                  <span class="list__item-icon fa fa-square-o"></span>
                  <span class="list__item-icon fa fa-check-square hide"></span>
                  <span class="list__item-text"><strong>Identify Duke alumni who work where you want to work:</strong> Use <a href="https://alumni.duke.edu/" target="_blank">alumni.duke.edu</a> to search for alumni by company.</span>
                </li>
                <li class="list__item">
                  <span class="list__item-icon fa fa-square-o"></span>
                  <span class="list__item-icon fa fa-check-square hide"></span>
                  <span class="list__item-text"><strong>Prepare your questions:</strong> Write down a handful of questions related to your research that you can ask alumni insiders.</span>
                </li>
                <li class="list__item">
                  <span class="list__item-icon fa fa-square-o"></span>
                  <span class="list__item-icon fa fa-check-square hide"></span>
                  <span class="list__item-text"><strong>Reach out:</strong> Contact alumni who work at your top companies via the messaging tool at <a href="https://alumni.duke.edu/" target="_blank">alumni.duke.edu</a>. In the message, introduce yourself briefly (noting that you are a Duke student) and ask if the alum would have time to answer a few of your questions about working at the company.</span>
                </li>
                <li class="list__item">
                  <span class="list__item-icon fa fa-square-o"></span>
                  <span class="list__item-icon fa fa-check-square hide"></span>
                  <span class="list__item-text"><strong>Learn from alumni:</strong> Don't ask for a job immediately. Instead, try to learn all you can from alumni. Ask about their journey from Duke to the company where they work now. You're trying to build a relationship first. Sometimes the alum you are talking with isn't in a position to help get you hired--but maybe that person can connect you with someone at his or her company that is.</span>
                </li>
                <li class="list__item">
                  <span class="list__item-icon fa fa-square-o"></span>
                  <span class="list__item-icon fa fa-check-square hide"></span>
                  <span class="list__item-text"><strong>Send a message of thanks:</strong> Thank the alum for taking time to chat with you and indicate you are interested in learning about jobs as they become available.</span>
                </li>
                <li class="list__item">
                  <span class="list__item-icon fa fa-square-o"></span>
                  <span class="list__item-icon fa fa-check-square hide"></span>
                  <span class="list__item-text"><strong>Follow up and don't give up:</strong> Keep up the relationship with alumni who have been helpful to you. Sometimes timing is everything. If you're not making progress immediately, don't give up. Expand your search, let alumni be your guides at other companies and see what happens. The job search takes both patience and determination.</span>
                </li>
              </ul>
              <a class="general-button" href="javascript:printDiv('div3')">Print this checklist</a>
            </div> <!-- END CHECKLIST -->
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

          </div>
        </section>


      </section>
    </section>


    <section id="big-square-container" class="tile-wrapper">
      <div id="dummy-square"></div>
      <section class="tile-wrapper-square">
        <section id="big-square" class="tile">
        <div class="main-info" style="background: #214B85;">
            <div class="quote-container">
              <p class="quote">What's the culture like<br/>at
                <span class="blank">
                <select class="word-options" ng-model="selectedItem" ng-options="item.company for item in items">
              </select>
                <span class="help">company</span>
              </span> ?
              </p>
            </div>
            <div class="more-info">
              <div class="left clearfix">
                <div>There are over <strong>{{selectedItem.count}}</strong> alums currently<br/>working at <strong>{{selectedItem.company}}</strong>.<br>Find them on the Network and ask!</div>
              </div>
              <div class="right clearfix">
                <a href="https://alumni.duke.edu/discover/people"><button class="sign-in">Sign in</button></a>
              </div>
            </div>

        </div>
      </section>
      </section>
    </section>





  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/node_modules/angular/angular.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
