/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #262626;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$fa-font-path: '../../bower_components/font-awesome/fonts';

// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower


@import 'madlibs';

$accent: #E45F56;
$dark: #35404F;
$teal: #4AAAA5;
$light-teal: #7ACCC8;
$green: #A3D39C;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  max-width: 1280px;
}

 main.container {
  @extend .grid;
  margin: 0 auto;
  width: 100%;
}

section.main-content {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  // width: 90%;
}

header.main-header {
  // @extend .grid;
  @extend .clearfix;
  width: 100%;
  text-align: left;
  position: relative;
  padding: 10px 5%;
  // background: $teal;
  color: #fff;
  z-index: 1000;

      h1 {
        font-weight: 200;
        width: 30%;
        margin: 0;
        display: inline-block !important;
        color: #fff;


        a[href] {
          text-decoration: none;
          color: #fff;
        }

        img {
          width: 35%;
        }
    }

      .hamburger.fa.fa-bars {
        color: #fff;
        font-size: 25pt;
        text-decoration: none;
        position: absolute;
        display: block;
        top: 15px;
        right: 5%;
        z-index: 1000;

      }

      .hamburger-nav {
        @extend .clearfix;
        float: right;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        display: none;
        position: absolute;
        right: 0;
        top: 48px;
        z-index: 1000;

          ul {
            background: #fff;
            // width: 100%;
            height: auto;
            padding: 5%;
            position: relative;
            display: block;
            font-weight: 200;
            opacity: 1;
            z-index: 1000;

              li {
                list-style-type: none;
                margin-bottom: 10px;
                display: block;
                color: $dark;
                text-align: center;

                a[href]{
                  color: $teal;
                  font-size: 1.4em;
                }
              }
          }
      } // .nav

      .show {
        display: block !important;
      }


} // header

.nav {
  margin-top: 15px;
  float: right;
  display: inline-block;
  clear: both;
  font-size: 11pt;
  font-weight: 300;
  display: none;

    a {
      color: #fff;
      text-decoration: none;
      padding-right: 7px;
    }
}


h2.heading {
  font-weight: 500;
  text-align: center;
  margin: 20px auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  width: 90%;
}


button {
  display: inline-block;
  color: #fff;
  // background: darken($green, 5%);
  background: lighten(#754AAA, 12%);
  border: none;
  vertical-align: middle;
  margin-top: 2.5%;
  margin-right: 2%;
  padding: 2% 6%;
}



.spinner {
  text-align: center;
  color: $accent;
  width: 100%;
  margin-top: 200px auto;
    span.fa-spin{
      color: $accent;
      margin-top: 25px;
      &.generating {
        font-size: 3em;
      }
    }
    span.spinner-text {
      display: block;
      color: $accent;
      text-align: center;
      font-weight: 300;
      font-size: 0.9em;
      margin-top: 25px;
      margin-bottom: 50px;
    }

}

.spinner-sending {
  text-align: center;
  color: $accent;
  width: 100%;
  margin-top: 15px auto;
  span.fa-spin.generating{
      color: $accent;
      margin-top: 5px;
      font-size: 3em;
  }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
